
/* START OF CODE FROM THE NAVBAR NOTE SOME CODE MAY NOT BE RELEVANT SO LOOK INTO FOR CLEAN UP*/
  .navigation-links {
  display: flex;
  justify-content: center;
  }

  .navigation-links a {
  margin: 20px;
  background-color: 	#50C878;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }

  .navigation-links a:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  }
  ul li{
  display: inline-block;
  padding: 0px 15px;

  }

  .logo{
  width: 50px;
  cursor: pointer;
  }

  .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 18px;
  font-family: var(--font-family);

  }

  .hover-underline-animation:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;

  }

  .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  }

  a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  }

  .main-header{
  background-color: #9f9be8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1% 8%;
  height: 90px;} 

  @media screen and (max-width: 1050px){
  .main-header{
  padding: 1% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .hover-underline-animation{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .homepage{
  margin-top: 400px;

  }
  .logo{
  display:none;
  }


      
  .navigation-links{
  line-height: 100px;
  }
  .contact-container{
  display: none;
  }
  h1{
  font-size: 50px;

  }
  h3{
  font-size: 25px;
  }
  }

/* END OF CODE FROM THE NAVBAR */


/* START OF CODE FROM THE CAROUSEL */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* END OF CODE FROM THE CAROUSEL */
#big-box-title{
    background:white ;
    color:black;
}
#big-box {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#medium-box {
  width: 90%

}
#small-box {
    border-radius: 25px;
  background: #E6DBac; /*this is a placeholder color currently its an ugly yellow for testing purposes*/
  text-align: center;
  width: 30vw;
  height: 20vw;
  overflow: ;
}

#small-box2 {
  flex-shrink: 1;
    border-radius: 25px;
  background: Red; /*this is a placeholder color currently its an ugly yellow for testing purposes*/
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}