*{
  background-color: rgb(212, 101, 212)    
}

.bulma-overlay-mixin {
    @include overlay(1.5rem);
    background-color: rgb(233, 228, 223);
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 1em;
  }



.nav li {
    display: inline;
    text-align: center;    
}

h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}