
.profilePIC {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imgCSS {
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    height: 800px;
    width: 100%;
}

.petname {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

.imgBtn {
    display:inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

.main-header{
    background-color: #9f9be8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1% 8%;
    height: 90px;} 

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 18px;
    font-family: var(--font-family);
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#story {
    font-size: 20px;
    font-weight: normal;
}

.orgcontactList {
    list-style-type: none;  
    font-size: 15px; 
    text-align: center; 
}

#orgContact {
    text-align: center; 
    margin-left: 0px;
}